{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}Nueva Asignatura{% endblock title %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-12 col-offset-4">
			<div class="card">
				<h3 class="card-tittle" align="center">Nueva Asignatura</h3>
				<hr>
				<div class="card-body">
					<form method="post">
					{% csrf_token %}
					{% bootstrap_form form layout="horizontal" %}
					<a class="card-link" href="{% url 'core_asignatura_list' %}">Volver</a>
					<button class="btn btn-primary" type="submit">Submit</button>
					</form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}