{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-12 col-offset-4">
			<div class="card">
				<div class="card-body">
				<a class="btn btn-primary" href="{% url 'core_asignatura_list' %}">Volver</a>
				<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Asignatura</a>
				<table class="table table-bordered" id="asignatura_detail">
				<tr><th>Nombre</th><td>{{ object.nombre }}</td></tr>
				<tr><th>Codigo</th><td>{{ object.codigo }}</td></tr>
				<tr><th>Semestre</th><td>{{ object.semestre }}</td></tr>
				</table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}