{% extends "base.html" %}
{% load static %}
{% block title %}Asignaturas{% endblock title %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-12 col-offset-4">
			<div class="card">
				<div class="card-body">
				<a class="btn btn-secondary card-link" href="{% url 'core_asignatura_list' %}">Asignatura Listing</a>
				<a class="btn btn-primary card-link" href="{% url 'core_asignatura_create' %}">Create new Asignatura</a>
			<table class="table table-bordered" id="asignatura_tabla">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Link</th>
					    <th scope="col">nombre</th>
					    <th scope="col">codigo</th>
					    <th scope="col">semestre</th>
					</tr>
				</thead>
				<tbody id="tbody">
				{% for object in object_list %}
				<tr>
				    <td>{{object.pk}}</td>
				    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
				    <td>{{ object.nombre }}</td>
				    <td>{{ object.codigo }}</td>
				    <td>{{ object.semestre }}</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
