{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-12 col-offset-4">
			<div class="card">
				<div class="card-body">
			<a class="btn btn-secondary card-link" href="{% url 'core_evaluacion_list' %}">Evaluacion Listing</a>
			<a class="btn btn-primary card-link" href="{% url 'core_evaluacion_create' %}">Create new Evaluacion</a>
		<table class="table table-bordered" id="evaluacion_tabla">
		<thead>
			<tr>
				<th scope="col">ID</th >
				<th scope="col">Link</th >
				<th scope="col">puntaje</th >
			</tr>
		</thead>
		<tbody>
		{% for object in object_list %}
			<tr>
			    <td>{{object.pk}}</td>
			    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
			    <td>{{ object.puntaje }}</td>
			</tr>
		{% endfor %}
		</tbody>
		</table>
				</div>
			</div>
		</div>
	</div>
</div>
		
{% endblock %}