{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-12 col-offset-4">
			<div class="card">
				<div class="card-body">
				<table class="table table-bordered" id="evaluacion_detail">
					<tr><th>Puntaje</th><td>{{ object.puntaje }}</td></tr>
				</table>
				<a class="btn btn-default" href="{% url 'core_evaluacion_list' %}">Volver</a>
				<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Evaluacion</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}