{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}Agregar Usuario{% endblock title %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col">
			<div class="card">
				<h1 class="card-title" align="center" style="margin-top:10px; margin-bottom:0px; ">Nuevo Usuario</h1>
				<hr>
				<div class="card-body">					
					<form method="post">
					{% csrf_token %}
					{% bootstrap_form form layout="horizontal" %}
					<a class="btn btn-default" href="{% url 'core_profile_list' %}">Profile Listing</a>
					<button class="btn btn-primary" type="submit">Submit</button>
					</form>
				</div>
			</div>		
		</div>
	</div>
</div>
{% endblock %}