{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'core_profile_list' %}">Profile Listing</a></p>
<table class="table">
<tr><td>name</td><td>{{ object.name }}</td></tr>
<tr><td>last_name</td><td>{{ object.last_name }}</td></tr>
<tr><td>rut</td><td>{{ object.rut }}</td></tr>
<tr><td>birth_day</td><td>{{ object.birth_day }}</td></tr>
<tr><td>email</td><td>{{ object.email }}</td></tr>
<tr><td>tipo</td><td>{{ object.tipo }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Profile</a>

{% endblock %}