{% extends "base.html" %}
{% load static %}
{% block title %}Perfiles{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-offset-4">
            <div class="card">
                <div class="card-body">
                <a class="btn btn-secondary card-link" href="{% url 'core_profile_list' %}">Profile Listing</a>
                <a class="btn btn-primary card-link" href="{% url 'core_profile_create' %}">Create new Profile</a>
                <table class="table table-bordered" id="perfil_tabla">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Link</th>
                        <th scope="col">name</th>
                        <th scope="col">last_name</th>
                        <th scope="col">rut</th>
                        <th scope="col">birth_day</th>
                        <th scope="col">email</th>
                        <th scope="col">tipo</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in object_list %}
                    <tr>
                        <td>{{object.pk}}</td>
                        <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
                        <td>{{ object.name }}</td>
                        <td>{{ object.last_name }}</td>
                        <td>{{ object.rut }}</td>
                        <td>{{ object.birth_day }}</td>
                        <td>{{ object.email }}</td>
                        <td>{{ object.tipo }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}