{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'core_pregunta_list' %}">Pregunta Listing</a></p>
<table class="table">
<tr><td>Enuncias</td><td>{{ object.enunciado }}</td></tr>
<tr><td>Puntaje</td><td>{{ object.puntaje }}</td></tr>
<tr><td>Respuestas</td><td>{{ object.asignatura }}</td></tr>
<tr><td>Respuestas</td><td>{{object.repuesta.name}} </td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Pregunta</a>

{% endblock %}