{% extends "base.html" %} {% load static %} {% load bootstrap4 %} {% block title %}Nueva Pregunta{% endblock title %} 
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-12 col-offset-4">
			<div class="card">
				<h3 class="card-tittle" align="center">Añadir Pregunta</h3>
				<hr>
				<div class="card-body">
					<form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
						<div class="form-group row">
							<label class="col-md-3 col-form-label" for="id_asignatura">Asignaturas</label>
							<div class="col-md-9">
								<select name="asignatura" class="form-control" id="id_asignatura" title="" required="">
									{% for asignatura in asignaturas %}
									<option value="{{asignatura.pk}}">{{asignatura.nombre}}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-3 col-form-label" for="id_enunciado">Enunciado:</label>
							<div class="col-md-9">
								<input type="text" class="form-control" name="enunciado" id="id_enunciado" required="">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-3 col-form-label" for="id_puntaje">Puntaje:</label>
							<div class="col-md-9">
								<input type="number" class="form-control" name="puntaje" id="id_puntaje" required="">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-3 col-form-label" for="id_respuesta">Respuestas:</label>
						</div>
						<div class="form-group row">
							<label class="col-md-3 col-form-label" for="id_respuestaA">A:</label>
							<div class="col-md-9">
								<input type="text" class="form-control" name="respuestaA" id="id_respuestaA" required="">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-3 col-form-label" for="id_respuestaB">B:</label>
							<div class="col-md-9">
								<input type="text" class="form-control" name="respuestaB" id="id_respuestaB" required="">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-3 col-form-label" for="id_respuestaC">C:</label>
							<div class="col-md-9">
								<input type="text" class="form-control" name="respuestaC" id="id_respuestaC" required="">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-3 col-form-label" for="id_respuestaD">D:</label>
							<div class="col-md-9">
								<input type="text" class="form-control" name="respuestaD" id="id_respuestaD" required="">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-3 col-form-label" for="id_respuestaE">E:</label>
							<div class="col-md-9">
								<input type="text" class="form-control" name="respuestaE" id="id_respuestaE" required="">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-3 col-form-label" for="id_correcta">Correcta:</label>
							<div class="col-md-9">
								<select name="correcta" class="form-control" id="id_correcta" title="" required="">
									<option value="A">A</option>
									<option value="B">B</option>
									<option value="C">C</option>
									<option value="D">D</option>
									<option value="E">E</option>
								</select>
							</div>
						</div>

						<a class="btn btn-default" href="{% url 'core_pregunta_list' %}">Pregunta Listing</a>
						<a class="btn btn-primary text-white" id="enviar" value="Enviar" type="submit">Enviar</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %} 
{% block javascript %}
<script>
	$(document).ready(function () {
		$("#enviar").click(function () {
			var asignatura = $('#id_asignatura').val();
			var enunciado = $('#id_enunciado').val();
			var puntaje = $('#id_puntaje').val();
			var respuestaA = $('#id_respuestaA').val();
			var respuestaB = $('#id_respuestaB').val();
			var respuestaC = $('#id_respuestaC').val();
			var respuestaD = $('#id_respuestaD').val();
			var respuestaE = $('#id_respuestaE').val();
			var correcta = $('#id_correcta').val();
			var data = {
				csrfmiddlewaretoken: "{{csrf_token}}",
				asignatura: asignatura,
				enunciado: enunciado,
				puntaje: puntaje,
				respuestaA: respuestaA,
				respuestaB: respuestaB,
				respuestaC: respuestaC,
				respuestaD: respuestaD,
				respuestaE: respuestaE,
				correcta: correcta,
			}

			$.ajax({
				type: "POST",
				url: "{% url 'core_pregunta_create' %}",
				data: data,
				success: function (response) {
					swal("Exito!", "Todo bien por aca.", "success");
				},
				error: function () {
					swal("Error!", "Salio todo mal.", "warning");
				},
			});
			console.log(data)
		});
	});	
</script> 
{% endblock javascript %}