{% extends "base.html" %}
{% load static %}
{% block title %}Preguntas{% endblock title %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-12 col-offset-4">
			<div class="card">
				<div class="card-body">
					<a class="btn btn-secondary" href="{% url 'core_pregunta_list' %}">Pregunta Listing</a>
					<a class="btn btn-primary" href="{% url 'core_pregunta_create' %}">Create new Pregunta</a>
					<table class="table table-bordered" id="pregunta_tabla">
					<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Link</th>
					    <th scope="col">enunciado</th>
					    <th scope="col">puntaje</th>
					</tr>
					</thead>
					<tbody>
					{% for object in object_list %}
					<tr>
					    <td>{{object.pk}}</td>
					    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
					    <td>{{ object.enunciado }}</td>
					    <td>{{ object.puntaje }}</td>
					</tr>
					{% endfor %}
					</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}