{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'core_respuesta_list' %}">Respuesta Listing</a></p>
<form method="post">
{% csrf_token %}
{% bootstrap_form form %}
<button class="btn btn-primary" type="submit">Submit</button>
</form>
{% endblock %}