{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'core_respuesta_alumno_list' %}">Respuesta_Alumno Listing</a></p>
<table class="table">
<tr><td>puntaje</td><td>{{ object.puntaje }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Respuesta_Alumno</a>

{% endblock %}