{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'core_respuesta_alumno_list' %}">Respuesta_Alumno Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>puntaje</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.puntaje }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'core_respuesta_alumno_create' %}">Create new Respuesta_Alumno</a>
{% endblock %}