{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'core_respuesta_list' %}">Respuesta Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>name</td>
    <td>respuesta</td>
    <td>correcto</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.name }}</td>
    <td>{{ object.respuesta }}</td>
    <td>{{ object.correcto }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'core_respuesta_create' %}">Create new Respuesta</a>
{% endblock %}