{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'core_respuesta_list' %}">Respuesta Listing</a></p>
<table class="table">
<tr><td>name</td><td>{{ object.name }}</td></tr>
<tr><td>respuesta</td><td>{{ object.respuesta }}</td></tr>
<tr><td>correcto</td><td>{{ object.correcto }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Respuesta</a>

{% endblock %}