{% extends "base.html" %}
{% load static %}
{% block title %}Cuestionarios{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-offset-4">
            <div class="card">
                <div class="card-body">
                    <a class="btn btn-secondary" href="{% url 'core_survey_list' %}">Survey Listing</a>
                    <a class="btn btn-primary" href="{% url 'core_survey_create' %}">Create new Survey</a>
                    <table class="table table-bordered" id="cuestionario_tabla">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Link</th>
                        <th scope="col">name</th>
                        <th scope="col">description</th>
                        <th scope="col">created</th>
                        <th scope="col">last_updated</th>
                    </tr>
                    </thead>
                    <tbody id="tbody">
                    {% for object in object_list %}
                    <tr>
                        <td>{{object.pk}}</td>
                        <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
                        <td>{{ object.name }}</td>
                        <td>{{ object.description }}</td>
                        <td>{{ object.created }}</td>
                        <td>{{ object.last_updated }}</td>
                    </tr>
                    {% endfor %}
                    <tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}