{% extends 'base.html' %}
{% block title %}Inicio{% endblock title %}
{% block content %} 
<div class="container">
	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-body">
					<div id="app">
						<div v-if="mostrar">
							<h1>Hola jiles</h1>
							<span v-bind:title="message">
									Hover your mouse over me for a few seconds
									to see my dynamically bound title!
							</span>
							<ul>
								<li v-for="(show,index) in tvshows" :key="index"></li>
								<strong> {{ show.name }} </strong> ({{ show.season }})
							</ul>
						</div>
						<button class="btn btn-primary" v-on:click="toogleMostrar()">AAAAAAAAAAAAAAAAAA</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
{% block javascript%}
	<script>
		var app = new Vue({
			el: '#app',
			data:  {
				mostrar: true,
				message: 'Hola VueJS ' + new Date().toLocaleString(),
				tvshows: [
					{name: 'Game of Thrones', season: 7},
					{name: 'Breaking Bad', season: 5},
					{name: 'LOST', season: 6},
					{name: 'BattleStar Galactia', season: 4},
				]
			},
			methods: {
				toogleMostrar() {
					this.mostrar = !this.mostrar
				}
			}			
		})
	</script>
{% endblock javascript%}