<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary">
	<a class="navbar-brand" href="#">Jiles</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class="navbar-nav">
			<li id="home" class="nav-item">
				<a class="nav-link" href="{% url 'index' %}">Inicio</a>
			</li>
			<li id="en_list" class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administracion</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="{% url 'core_asignatura_list' %}">Asignaturas</a>
					<a class="dropdown-item" href="{% url 'core_survey_list' %}">Cuestionarios</a>
					<a class="dropdown-item" href="{% url 'core_pregunta_list' %}">Preguntas</a>
					<a class="dropdown-item" href="{% url 'core_profile_list' %}">Perfiles</a>
					<div class="dropdown-divider"></div>
				</div>
			</li>
		</ul>
	</div>
</nav>